<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94989616634-hau0r8h34jrlaeq05mblq05s68tqvr3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94989616634-hau0r8h34jrlaeq05mblq05s68tqvr3k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>94989616634-v2d24nr2q3uo7fsoc2nlb5o76eosgebl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBukMIJQE6txB1BF2MhE0eF22g1fUHgJ9k</string>
	<key>GCM_SENDER_ID</key>
	<string>94989616634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexakomb.nokanda-ios</string>
	<key>PROJECT_ID</key>
	<string>kene-6c09d</string>
	<key>STORAGE_BUCKET</key>
	<string>kene-6c09d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94989616634:ios:4dfe7b68f379fa11959043</string>
	<key>DATABASE_URL</key>
	<string>https://kene-6c09d.firebaseio.com</string>
</dict>
</plist>